include ../_mixins/links.jade

.fixed.landing-page
    if (global.custom.custom_navigation)
         -customSettings = global.custom.custom_navigation
        #customer-navigation(style={background:customSettings.backgroundColor, height:customSettings.height})
            #customer-logo(style ={'margin-top':customSettings.logoMargin})
                img(src=global.custom.custom_navigation.logo)
        p(style=customSettings.logoTextStyle)
            span #{global.custom.custom_navigation.logoText}

        p(style=customSettings.logoSubTextStyle)
            span #{global.custom.custom_navigation.logoSubText}